<h1> Hello, <%= session['username'] %></h1>
<p> Who are you? </p> 
<form action= "/sessions/create"> 
  <label for="username"> Username: </label> 
  <input id = "text" name = "username" placeholder="Your name here">
  <input type= "submit">
<div>
<a href= "sign_out"> Sign out </a>
  You're signed in, <%= session['username'] %>
</div>
<div>
  <label for="password">Password:</label>
<input id="password" type="password" placeholder="your password here" name="password">\
  </div>
</form>