<h1>New Statistic</h1>

<form action="/create_statistic">
  <div>
    <label for="data">data</label><br />
    <input id="data" name="data" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

