<h1>Statistic #<%= @statistic.id %></h1>

<div>
  <strong>Data</strong>:<br />
  <p><%= @statistic.data %></p>
</div>

<a href="/statistics/<%= @statistic.id %>/edit">Edit</a> |
<a href="/statistics/<%= @statistic.id %>/destroy">Destroy</a>
