<h1>New Import</h1>

<form action="/create_import">
  <div>
    <label for="materials">materials</label><br />
    <input id="materials" name="materials" type="text" />
  </div>
  <div>
    <label for="imports_from">imports_from</label><br />
    <input id="imports_from" name="imports_from" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

