<html><head>
<link rel="shortcut icon" href="/favicon.ico" >
  <meta charset="utf-8">
<!--
Created using JS Bin
http://jsbin.com

Copyright (c) 2014 by anonymous (http://jsbin.com/pazelibe/3/edit)

Released under the MIT license: http://jsbin.mit-license.org
-->
  <title>Compare-ica</title>
  

<style id="jsbin-css">
*{
  background-color: black;
}
h1 {
  border: dotted;
  border-color: blue;
  padding: 8px;
  color:red;
  font-family:verdana;
}
h2 {
  color:white;;
  font-family: verdana;
  border: dotted;
  border-color: red;
  padding: 6px;
}
</style>
</head>
<body>
<h1> <center> Compare-ica: America's Statistical Comparison Master </center> </h1>
<div class="row">
      <div class="col-md-4">
        <img height="350px" width="400px" src="http://3.bp.blogspot.com/-F70bIkWams4/UJtped_toGI/AAAAAAAAA8w/xY2-5vKZ7rA/s1600/0209+Tiled+Flag+of+American+diversity.jpg" alt="mericano">
  </div>
  <div class="col-md-4">
 <img height="350px" width="450px" src="http://www.pcdon.com/Waving_Flag_on_3D_Pole-160x120.gif">
  </div>
  <div class="col-md-4">
      <img height="350px" width="400px" src="http://i.imgur.com/8FnDCb4.gif" alt="die hard">
    </div>
  </div>
<div>
  <h2> <center> Compare the Land of the Free to... </center></h2>  
  </div>
  
  <div class="row">
   <div class="col-md-3" >
<img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/fr-lgflag.gif" alt="wimps">
    </div>
    <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/uk-lgflag.gif" alt="cup o tea">
    </div>
    <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/rs-lgflag.gif" alt="russian roullette">
    </div>
    <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/ch-lgflag.gif" alt="fresh air svp or nihao kailan">
    </div>
    </div>
  

    <div class="row">
   <div class="col-md-3">
<img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/af-lgflag.gif" alt="wimps">
      </div>
      <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/as-lgflag.gif" alt="cup o tea">
      </div>
      <div class="col-md-3">
     <img height="300px" width="400px" src="http://www.themalaysianinsider.com/assets/uploads/articles/north-korea-flag-photos.jpg" alt="russian roullette">
      </div>
      <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/tu-lgflag.gif" alt="fresh air svp or nihao kailan">
    </div>
          </div>

  <div class="row">
   <div class="col-md-3">
<img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/ug-lgflag.gif" alt="wimps">
    </div>
    <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/so-lgflag.gif" alt="cup o tea">
    </div>
    <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/ks-lgflag.gif" alt="russian roullette">
    </div>
    <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/in-lgflag.gif" alt="fresh air svp or nihao kailan">
    </div>  
        </div>

  <div class="row">
   <div class="col-md-3">
<img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/gm-lgflag.gif" alt="bermany">
    </div>
    <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/no-lgflag.gif" alt="cup o tea">
    </div>
    <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/bf-lgflag.gif" alt="russian roullette">
    </div>
    <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/as-lgflag.gif" alt="fresh air svp or nihao kailan">
    </div>  
        </div>
 
  <div class="row">
   <div class="col-md-3">
<img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/ca-lgflag.gif" alt="hostile frozen wasteland">
    </div>
    <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/br-lgflag.gif" alt="fresh air svp or nihao kailan">
    </div>
    <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/ja-lgflag.gif" alt="cool">
    </div>
    <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/eg-lgflag.gif" alt="wimps">
    </div> 
        </div>
    
    <div class="row">
   <div class="col-md-3">
<img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/rq-lgflag.gif" alt="wimps">
      </div>
      <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/ci-lgflag.gif" alt="fresh air svp or nihao kailan">
      </div>
      <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/be-lgflag.gif" alt="wimps">
      </div>
      <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/up-lgflag.gif" alt="wimps">
    </div>   
          </div>
      
    <div class="row">
   <div class="col-md-3">
<img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/ae-lgflag.gif" alt="wimps">
      </div>
      <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/ve-lgflag.gif" alt="fresh air svp or nihao kailan">
      </div>
      <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/ec-lgflag.gif" alt="wimps">
      </div>
      <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/co-lgflag.gif" alt="wimps">
    </div>   
          </div>

      <div class="row">
   <div class="col-md-3">
<img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/ei-lgflag.gif" alt="wimps">
        </div>
        <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/sp-lgflag.gif" alt="Mexico">
        </div>
        <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/mx-lgflag.gif" alt="Mexico">
        </div>
        <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/sz-lgflag.gif" alt="wimps">
    </div>    
            </div>
        
      <div class="row">
   <div class="col-md-3">
<img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/pk-lgflag.gif" alt="wimps">
        </div>
        <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/is-lgflag.gif" alt="cool">
        </div> 
        <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/fj-lgflag.gif" alt="wimps">
        </div>
        <div class="col-md-3">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/ma-lgflag.gif" alt="wimps">
</div>  
</div>
<script>
</script>
</body>
</html>
