<html><head>
<link rel="shortcut icon" href="/favicon.ico" >
  <meta charset="utf-8">
<!--
Created using JS Bin
http://jsbin.com

Copyright (c) 2014 by anonymous (http://jsbin.com/pazelibe/3/edit)

Released under the MIT license: http://jsbin.mit-license.org
-->
  <title>Compare-ica</title>
  

<style id="jsbin-css">
*{
  background-color: black;
}
h1 {
  border: dotted;
  border-color: blue;
  padding: 8px;
  color:red;
  font-family:verdana;
}
h2 {
  color:white;;
  font-family: verdana;
  border: dotted;
  border-color: red;
  padding: 6px;
}
</style>
</head>
<body>
<h1> <center> Compare-ica: America's Statistical Comparison Master </center> </h1>
<div class="row">
      <div class="col-md-4">
        <img height="350px" width="400px" src="http://3.bp.blogspot.com/-F70bIkWams4/UJtped_toGI/AAAAAAAAA8w/xY2-5vKZ7rA/s1600/0209+Tiled+Flag+of+American+diversity.jpg" alt="mericano">
  </div>
  <div class="col-md-4">
 <img height="350px" width="450px" src="http://www.pcdon.com/Waving_Flag_on_3D_Pole-160x120.gif">
  </div>
  <div class="col-md-4">
      <img height="350px" width="400px" src="http://i.imgur.com/8FnDCb4.gif" alt="die hard">
    </div>
  </div>
<div>
  <h2> <center> Compare the Land of the Free to... </center></h2>  
  </div>
  
  <div class="row">
   <div class="col-md-3" >
<a href="http://feisty-pencil-96-132330.use1-2.nitrousbox.com/countries/1">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/fr-lgflag.gif" alt="wimps">
     </a>
    </div>
    <div class="col-md-3">
     <a href="http://feisty-pencil-96-132330.use1-2.nitrousbox.com/countries/2">
      <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/uk-lgflag.gif" alt="cup o tea">
      </a>
    </div>
    <div class="col-md-3">
    <a href="http://feisty-pencil-96-132330.use1-2.nitrousbox.com/countries/3">
      <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/rs-lgflag.gif" alt="russian roullette">
      </a>
    </div>
    <div class="col-md-3">
     <a href="http://feisty-pencil-96-132330.use1-2.nitrousbox.com/countries/4">
      <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/ch-lgflag.gif" alt="fresh air svp or nihao kailan">
      </a>
    </div>
    </div>
  

    <div class="row">
   <div class="col-md-3">
     <a href="http://feisty-pencil-96-132330.use1-2.nitrousbox.com/countries/5">
<img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/af-lgflag.gif" alt="wimps">
     </a>
      </div>
      <div class="col-md-3">
        <a href="http://feisty-pencil-96-132330.use1-2.nitrousbox.com/countries/6">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/as-lgflag.gif" alt="cup o tea">
        </a>
      </div>
      <div class="col-md-3">
     <a href="http://feisty-pencil-96-132330.use1-2.nitrousbox.com/countries/7">
        <img height="300px" width="400px" src="http://www.themalaysianinsider.com/assets/uploads/articles/north-korea-flag-photos.jpg" alt="russian roullette">
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://feisty-pencil-96-132330.use1-2.nitrousbox.com/countries/8">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/tu-lgflag.gif" alt="fresh air svp or nihao kailan">
        </a>
    </div>
          </div>

  <div class="row">
   <div class="col-md-3">
     <a href="http://feisty-pencil-96-132330.use1-2.nitrousbox.com/countries/9">
<img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/ug-lgflag.gif" alt="wimps">
     </a>
    </div>
    <div class="col-md-3">
      <a href="http://feisty-pencil-96-132330.use1-2.nitrousbox.com/countries/10">
     <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/so-lgflag.gif" alt="cup o tea">
      </a>
    </div>
    <div class="col-md-3">
     <a href="http://feisty-pencil-96-132330.use1-2.nitrousbox.com/countries/11">
      <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/ks-lgflag.gif" alt="russian roullette">
      </a>
    </div>
    <div class="col-md-3">
     <a href="http://feisty-pencil-96-132330.use1-2.nitrousbox.com/countries/12">
      <img height="300px" width="400px" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/in-lgflag.gif" alt="fresh air svp or nihao kailan">
      </a>
    </div>  
        </div>

 
      
<script>
</script>
</body>
</html>
