<h1>New Export</h1>

<form action="/create_export">
  <div>
    <label for="materials">materials</label><br />
    <input id="materials" name="materials" type="text" />
  </div>
  <div>
    <label for="exports_from">exports_from</label><br />
    <input id="exports_from" name="exports_from" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

